:root {
    --app-height: 100vh;
    --app-width: 100vw ;
}

body {
    box-sizing: border-box;
    background: #EEEEF1;
    min-height: var(--app-height);
    width: var(--app-width);
}

* {
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
    color: #020223;
}
html {
    font-size: 700%;
    min-height: var(--app-height);
    width: var(--app-width);
}

@media (max-width: 480px) {
    html {
        font-size: 24vw;
    }
}

a {
    text-decoration: none;
    height: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}